[data-theme='light'] .AdvertisementsContainer {
  display: flex;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  align-items:center ;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  
}

[data-theme='dark'] .AdvertisementsContainer {
  display: flex;
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 8px rgba(187, 185, 185, 0.3);
}

.imageContainer {
  flex-basis: 30%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 0px 0px;
}

.contentContainer {
  flex-basis: 70%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.description {
  font-size: 0.75rem;
  width: 95%;
}

.btnAdverts {
  color: #fff;
  background: #18E888;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: none;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
  font-weight: bold;
}

/* @media (max-width: 768px) {
  .AdvertisementsContainer {
    flex-direction: column;
    max-height: none;
  }
  
  
  .image {
    height: auto;
    max-height: none;
  }
  
  .title {
    font-size: 1rem;
    text-align: center;
  }
} */

@media (max-width: 768px) {
  .AdvertisementsContainer {
    flex-direction: column;
  }
  
  .imageContainer {
    flex-basis: 30%;
  }
  
  .contentContainer {
    flex-basis: 70%;
  }
  
  .image {
    height: auto;
  }
  
  .title {
    font-size: 1.25em;
    text-align: center;
  }
  
  .description {
    font-size: 0.75em;
    text-align: center;
  }
}