.YouTubeContainer {
  display: flex;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin: 30px 0;
  cursor: pointer;
}

[data-theme='light'] .YouTubeContainer {
  border: 1px solid rgb(228 228 231 / .6);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
  background-color: white;
}

[data-theme='dark'] .YouTubeContainer {
  border: 1px solid lightgrey;
  box-shadow: 0 4px 8px rgba(187, 185, 185, 0.3);
}

.videoContainer {
  position: relative;
  width: 30%;
  flex-shrink: 0;
  cursor: pointer; /* Cursor für das ganze Bild */
}

.videoImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.playIcon {
  width: 0;
  height: 0;
  border-left: 30px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.contentContainer {
  flex: 1 1 0%;
  padding: 10px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 95%;
  white-space: nowrap;
}

.description {
  font-size: 0.75rem;
  margin: 0;
  line-height: 2;
}

@media (max-width: 768px) {
  .YouTubeContainer {
    flex-direction: column;
  }

  .videoContainer, .contentContainer {
    flex-basis: 50%;
  }

  .videoContainer {
    width: 100%;
  }

  .title {
    font-size: 1.25em;
    text-align: center;
  }

  .description {
    font-size: 0.75em;
    text-align: center;
  }
}
