[data-theme='light'] .YouTubeContainer {
  display: flex;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}

[data-theme='dark'] .YouTubeContainer {
  display: flex;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 8px rgba(187, 185, 185, 0.3);
  margin: 20px 0;
}

.videoContainer {
  flex-basis: 30%;
}

.videoIframe {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 0px 0px;
}

.contentContainer {
  flex-basis: 70%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 95%;
  white-space: nowrap;
}

.description {
  font-size: 0.75rem;
  margin: 0;
  width: 95%;
}

@media (max-width: 768px) {
  .YouTubeContainer {
    flex-direction: column;
  }

  .videoContainer, .contentContainer {
    flex-basis: 50%;
  }

  .videoIframe {
    height: auto; /* Stelle sicher, dass das Video responsiv ist */
  }

  .title {
    font-size: 1.25em;
    text-align: center;
  }

  .description {
    font-size: 0.75em;
    text-align: center;
  }
}