[data-theme='light'] .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 370px;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 8px rgba(187, 185, 185, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

[data-theme='dark'] .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 370px;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 8px rgba(187, 185, 185, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

.imageContainer {
  width: 100%;
  height: 170px;
  position: relative;
  border-radius: 5px 5px 0 0;
}

.imageContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}

.objectCover {
  object-fit: cover;
}

.objectContain {
  object-fit: contain;
}

.textContainerTitle, .textContainerDescription {
  margin: 0;
  padding: 5px 0;
  text-align: center;
}

.textContainerTitle {
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}